html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#score {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  font-weight: 900;
}

#highscore { /*ADDED LINES*/
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 2em;
  font-weight: 900;
}
#newhigh { 
    position: absolute;
    top: 30px;
    font-size: 2em;
    font-weight: 900;
    opacity: 0;
  } /* END OF ADDED LINES*/

#introduction {
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
}

/* ADDITIONAL LINES */
#characterBoard {
  width: 400px;
  height: 160px;
  position:absolute;
  top:5%;
  border-radius: 20%;
  color: rgb(12, 11, 10);
  background-color: rgb(197, 172, 88);
  border: solid;
  border-color: beige;
  font-weight: 200;
  font-size: 1.4em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  cursor: pointer;
}
#char1 {
  width: 82px;
  height: 90px;
  position:absolute;
  top:13%;
  left:41%;
  border-radius: 5%;
  background-color: rgb(138, 109, 57);
  border: solid;
  border-color: rgb(109, 103, 71);
  color: black;
  font-weight: 200;
  font-size: 1.4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  cursor: pointer;
}

#char2 {
  width: 82px;
  height: 90px;
  position:absolute;
  top:13%;
  left:53%;
  border-radius: 5%;
  background-color: rgb(138, 109, 57);
  border: solid;
  border-color: rgb(109, 103, 71);
  color: green;
  font-weight: 200;
  font-size: 1.4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  cursor: pointer;
}

/* ^ ADDITIONAL LINES ^ */

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}

#youtube,
#youtube-card {
  display: none;
}

@media (min-height: 425px) {
  /** Youtube logo by https://codepen.io/alvaromontoro */
  #youtube {
    z-index: 2;
    display: block;
    width: 100px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: red;
    border-radius: 50% / 11%;
    transform: scale(0.8);
    transition: transform 0.5s;
  }

  #youtube:hover,
  #youtube:focus {
    transform: scale(0.9);
  }

  #youtube::before {
    content: "";
    display: block;
    position: absolute;
    top: 7.5%;
    left: -6%;
    width: 112%;
    height: 85%;
    background: red;
    border-radius: 9% / 50%;
  }

  #youtube::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 40px;
    width: 45px;
    height: 30px;
    border: 15px solid transparent;
    box-sizing: border-box;
    border-left: 30px solid white;
  }

  #youtube span {
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  #youtube:hover + #youtube-card {
    display: block;
    position: absolute;
    bottom: 12px;
    left: 10px;
    padding: 25px 25px 25px 130px;
    width: 300px;
    background-color: white;
  }
}
